RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]


# 3 Month
<FilesMatch "\.(flv|gif|jpg|jpeg|png|ico|swf)$">
  Header set Cache-Control "max-age=7257600"
</FilesMatch>

# 1 Week
<FilesMatch "\.(js|css|pdf|txt)$">
  Header set Cache-Control "max-age=604800"
</FilesMatch>

# 10 Minutes
<FilesMatch "\.(html|htm)$">
  Header set Cache-Control "max-age=600"
</FilesMatch>

# NONE
<FilesMatch "\.(pl|php|cgi|spl)$">
  Header unset Cache-Control
  Header unset Expires
  Header unset Last-Modified
  FileETag None
  Header unset Pragma
</FilesMatch>